.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  text-align: start;
  margin: 20px;

}
input, select{
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  width: 30%;
  height: 25px;
}

label {
  padding: 12px;
  width: 15%;
  display: inline-block;
  align-self: start;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drop-down {
  margin-top: 9px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 25px;
}

.drop-down-select  {
  height: 20px;
  margin-left: 35%;
  align-items: center;
  border-radius: 5px !important;
  padding: 1px 52px 8px 1px;
}

button {
  background-color: #282c34;
  color: white;
  margin: 15px 15px 15px 18%;
  width: 15%;
  height: 25px;
}