
.App-logo {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  /*.App-logo {*/
  /*  animation: App-logo-spin infinite 20s linear;*/
  /*}*/
}
.checkbox {
  height: 16px;
  width: 16px;
  margin-left: 22px;
}

.feedbackQuestions {
  width : 40%
}
.feedbackAnswers {
  width : 60px;


}

.App-header {
  background-color: #4a7370;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: white;
}

.header {
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}

.App-link {
  color: #ffffff;
  display: flex;
  text-align: left;
  padding-left: 25px;
  padding-bottom: 2px;
}

.nav {
  flex-direction: row;
  display: flex;
}

form {
  text-align: start;
  margin: 20px;
}
input, select{
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  width: 15%;
  height: 25px;
}

label {
  padding: 12px;
  display: inline-block;
  width: 100%;
  align-self: start;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drop-down {
  margin-top: 9px;
  display: flex;
  margin-bottom: 2%;
  flex-direction: row;
  width: 30%;
  height: 25px;
}

.drop-down-select  {
  height: 20px;
  /*margin-left: 35%;*/
  align-items: center;
  border-radius: 5px !important;
  padding: 1px 52px 8px 1px;
}

.select {
  height: 20px;
  align-items: center;
  width: 51%;
  border-radius: 5px !important;
  padding: 1px 52px 8px 1px;
}

button {
  background-color: #282c34;
  color: white;
  margin: 15px 0 15px 8%;
  width: 10%;
  height: 25px;
}

.form-filter{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}